In [1]:
import pandas as pd
import numpy as np

In [2]:
college=pd.read_csv('data/college.csv')

In [3]:
grouped=college.groupby(['STABBR','RELAFFIL'])

In [4]:
import inspect

In [5]:
inspect.signature(grouped.agg)

In [6]:
def pct_between_1_3k(s):
    return s.between(1000,3000).mean()

In [8]:
def pct_between(s,low,high):
    return s.between(low,high).mean()

In [9]:
college.groupby(['STABBR','RELAFFIL'])['UGDS'].agg(pct_between,1000,10000).head()

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
Name: UGDS, dtype: float64

In [11]:
college.RELAFFIL.unique()

array([0, 1], dtype=int64)

In [13]:
college['UGDS'].describe()

count      6874.000000
mean       2356.837940
std        5474.275871
min           0.000000
25%         117.000000
50%         412.500000
75%        1929.500000
max      151558.000000
Name: UGDS, dtype: float64

In [14]:
#creating closure/wrapper around function

In [16]:
def make_agg_func(func,name,*args,**kwargs):
    def wrapper(s):
        return func(s,*args,**kwargs)
    wrapper.__name__=name
    return wrapper

In [17]:
my_agg1=make_agg_func(pct_between,'pct_1_3k',low=10000,high=30000)

In [18]:
my_agg2=make_agg_func(pct_between,'pct_10_30k',10000,30000)

In [19]:
college.groupby(['STABBR','RELAFFIL'])['UGDS'].agg(['mean',my_agg1,my_agg2]).head()

                        mean  pct_1_3k  pct_10_30k
STABBR RELAFFIL
AK     0         3508.857143  0.142857    0.142857
       1          123.333333  0.000000    0.000000
AL     0         3248.774648  0.083333    0.083333
       1          979.722222  0.000000    0.000000
AR     0         1793.691176  0.014706    0.014706