In [1]:
import pandas as pd
import numpy as np

In [2]:
flights=pd.read_csv('data/flights.csv')

In [3]:
airline_info=flights.groupby(['AIRLINE','WEEKDAY']).agg({'DIST':['sum','mean'],'ARR_DELAY':['min','max']}).astype(int)

In [4]:
airline_info.head(7)

                    DIST       ARR_DELAY
                     sum  mean       min  max
AIRLINE WEEKDAY
AA      1        1455386  1139       -60  551
        2        1358256  1107       -52  725
        3        1496665  1117       -45  473
        4        1452394  1089       -46  349
        5        1427749  1122       -41  732
        6        1265340  1124       -50  858
        7        1461906  1100       -49  626

In [6]:
l1=airline_info.columns.get_level_values(0)
l1

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')

In [7]:
l2=airline_info.columns.get_level_values(1)
l2

Index(['sum', 'mean', 'min', 'max'], dtype='object')

In [8]:
airline_info.columns=l1+'_'+l2

In [9]:
airline_info.head(7)

                 DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
AIRLINE WEEKDAY
AA      1         1455386       1139            -60            551
        2         1358256       1107            -52            725
        3         1496665       1117            -45            473
        4         1452394       1089            -46            349
        5         1427749       1122            -41            732
        6         1265340       1124            -50            858
        7         1461906       1100            -49            626

In [10]:
airline_info.reset_index().head(7)

  AIRLINE  WEEKDAY  DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
0      AA        1   1455386       1139            -60            551
1      AA        2   1358256       1107            -52            725
2      AA        3   1496665       1117            -45            473
3      AA        4   1452394       1089            -46            349
4      AA        5   1427749       1122            -41            732
5      AA        6   1265340       1124            -50            858
6      AA        7   1461906       1100            -49            626

In [12]:
flights.groupby('AIRLINE',as_index=False)['DIST'].agg('mean').round(0).head()

  AIRLINE    DIST
0      AA  1114.0
1      AS  1066.0
2      B6  1772.0
3      DL   866.0
4      EV   460.0